.dashboard {
  border: 2px solid red;
  /* Temporary border for debugging */
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

ngx-charts-legend-entry {
  cursor: pointer;
  transition: color 0.3s;
}

ngx-charts-legend-entry:hover {
  color: #007bff;
  /* Change color on hover */
}