<mat-card class="progress-card">
    <mat-card-content>
        <div class="progress-container">
            <!-- Angular Material progress spinner -->
            <mat-progress-spinner *ngIf="visible" mode="indeterminate" [diameter]="80" color="primary">
            </mat-progress-spinner>

            <!-- Material list for progress log messages -->
            <mat-list class="progress-logs">
                <mat-list-item *ngFor="let log of progressLogs; let last = last" [ngClass]="{'last': last}">
                    {{ log }}
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>