<div class="container">
  <h1>{{ title }}</h1>

  <!-- Metadata Form Section -->
  <app-metadata-form (metadataSubmitted)="onMetadataSubmit($event)"></app-metadata-form>

  <!-- Quality Model Section -->
  <app-quality-model (goalsSelected)="onGoalsSelected($event)"></app-quality-model>

  <!-- Progress Bar Section -->
  <app-progress-bar *ngIf="progressVisible" [progress]="progress"
  [progressMessage]="progressMessage"></app-progress-bar>
  
   <!-- Metrics Dashboard -->
  <app-metrics-dashboard *ngIf="metricsVisible" [metrics$]="metrics$"></app-metrics-dashboard>

  <!-- Start Assessment Button -->
  <button class="start-assessment-btn" [disabled]="assessmentInProgress"
    [class.assessment-running]="assessmentInProgress" (click)="startAssessment()">
    {{ assessmentInProgress ? 'Assessment In Progress...' : 'Start Quality Assessment' }}
  </button>
</div>