<mat-dialog-content class="goal-details-content">
    <h2 mat-dialog-title>
        <mat-icon class="info-icon" aria-hidden="false" aria-label="Goal Info">info</mat-icon>
        Details for {{ goal?.name }}
    </h2>
    <p><strong>Description:</strong></p>
    <p>{{ goal?.description }}</p>
    <p *ngIf="goal?.parent">
        <strong>Parent Goal:</strong> {{ goal?.parent!.name }}
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="close()">Close</button>
</mat-dialog-actions>